=begin
#qTest Manager API Version 8.6 - 9.1

#qTest Manager API Version 8.6 - 9.1

OpenAPI spec version: 8.6 - 9.1

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class ReleaseApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Creates a Release
    # To create a Release  <strong>qTest Manager version:</strong> 4+
    # @param project_id ID of the project
    # @param body The Release&#39;s properties
    # @param [Hash] opts the optional parameters
    # @return [ReleaseWithCustomFieldResource]
    def create(project_id, body, opts = {})
      data, _status_code, _headers = create_with_http_info(project_id, body, opts)
      return data
    end

    # Creates a Release
    # To create a Release  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 4+
    # @param project_id ID of the project
    # @param body The Release&#39;s properties
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReleaseWithCustomFieldResource, Fixnum, Hash)>] ReleaseWithCustomFieldResource data, response status code and response headers
    def create_with_http_info(project_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReleaseApi.create ..."
      end
      # verify the required parameter 'project_id' is set
      fail ArgumentError, "Missing the required parameter 'project_id' when calling ReleaseApi.create" if project_id.nil?
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling ReleaseApi.create" if body.nil?
      # resource path
      local_var_path = "/api/v3/projects/{projectId}/releases".sub('{format}','json').sub('{' + 'projectId' + '}', project_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['Authorization']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ReleaseWithCustomFieldResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReleaseApi#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a release
    # To delete a Release
    # @param project_id ID of the project
    # @param release_id ID of the Release which needs to be deleted  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 6+
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete(project_id, release_id, opts = {})
      data, _status_code, _headers = delete_with_http_info(project_id, release_id, opts)
      return data
    end

    # Delete a release
    # To delete a Release
    # @param project_id ID of the project
    # @param release_id ID of the Release which needs to be deleted  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 6+
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def delete_with_http_info(project_id, release_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReleaseApi.delete ..."
      end
      # verify the required parameter 'project_id' is set
      fail ArgumentError, "Missing the required parameter 'project_id' when calling ReleaseApi.delete" if project_id.nil?
      # verify the required parameter 'release_id' is set
      fail ArgumentError, "Missing the required parameter 'release_id' when calling ReleaseApi.delete" if release_id.nil?
      # resource path
      local_var_path = "/api/v3/projects/{projectId}/releases/{releaseId}".sub('{format}','json').sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'releaseId' + '}', release_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Authorization']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReleaseApi#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a Release
    # To retrieve a Release  <strong>qTest Manager version:</strong> 4+
    # @param project_id ID of the project
    # @param release_id ID of the Release
    # @param [Hash] opts the optional parameters
    # @return [ReleaseWithCustomFieldResource]
    def get(project_id, release_id, opts = {})
      data, _status_code, _headers = get_with_http_info(project_id, release_id, opts)
      return data
    end

    # Gets a Release
    # To retrieve a Release  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 4+
    # @param project_id ID of the project
    # @param release_id ID of the Release
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReleaseWithCustomFieldResource, Fixnum, Hash)>] ReleaseWithCustomFieldResource data, response status code and response headers
    def get_with_http_info(project_id, release_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReleaseApi.get ..."
      end
      # verify the required parameter 'project_id' is set
      fail ArgumentError, "Missing the required parameter 'project_id' when calling ReleaseApi.get" if project_id.nil?
      # verify the required parameter 'release_id' is set
      fail ArgumentError, "Missing the required parameter 'release_id' when calling ReleaseApi.get" if release_id.nil?
      # resource path
      local_var_path = "/api/v3/projects/{projectId}/releases/{releaseId}".sub('{format}','json').sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'releaseId' + '}', release_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Authorization']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ReleaseWithCustomFieldResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReleaseApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets multiple Releases
    # To retrieve Releases in a project  <strong>qTest Manager version:</strong> 4+
    # @param project_id ID of the project
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :include_closed &lt;em&gt;includeClosed&#x3D;false&lt;/em&gt; - default value. &lt;em&gt;Closed&lt;/em&gt; Releases are excluded from the response  &lt;em&gt;includeClosed&#x3D;false&lt;/em&gt; - Closed Release are included in the response
    # @return [Array<ReleaseWithCustomFieldResource>]
    def get_all(project_id, opts = {})
      data, _status_code, _headers = get_all_with_http_info(project_id, opts)
      return data
    end

    # Gets multiple Releases
    # To retrieve Releases in a project  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 4+
    # @param project_id ID of the project
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :include_closed &lt;em&gt;includeClosed&#x3D;false&lt;/em&gt; - default value. &lt;em&gt;Closed&lt;/em&gt; Releases are excluded from the response  &lt;em&gt;includeClosed&#x3D;false&lt;/em&gt; - Closed Release are included in the response
    # @return [Array<(Array<ReleaseWithCustomFieldResource>, Fixnum, Hash)>] Array<ReleaseWithCustomFieldResource> data, response status code and response headers
    def get_all_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReleaseApi.get_all ..."
      end
      # verify the required parameter 'project_id' is set
      fail ArgumentError, "Missing the required parameter 'project_id' when calling ReleaseApi.get_all" if project_id.nil?
      # resource path
      local_var_path = "/api/v3/projects/{projectId}/releases".sub('{format}','json').sub('{' + 'projectId' + '}', project_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'includeClosed'] = opts[:'include_closed'] if !opts[:'include_closed'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Authorization']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ReleaseWithCustomFieldResource>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReleaseApi#get_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Release
    # To update a Release  <strong>qTest Manager version:</strong> 6+
    # @param project_id ID of the project
    # @param release_id ID of the Release which needs to be updated
    # @param body The Release&#39;s updated properties
    # @param [Hash] opts the optional parameters
    # @return [ReleaseWithCustomFieldResource]
    def update(project_id, release_id, body, opts = {})
      data, _status_code, _headers = update_with_http_info(project_id, release_id, body, opts)
      return data
    end

    # Updates a Release
    # To update a Release  &lt;strong&gt;qTest Manager version:&lt;/strong&gt; 6+
    # @param project_id ID of the project
    # @param release_id ID of the Release which needs to be updated
    # @param body The Release&#39;s updated properties
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReleaseWithCustomFieldResource, Fixnum, Hash)>] ReleaseWithCustomFieldResource data, response status code and response headers
    def update_with_http_info(project_id, release_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReleaseApi.update ..."
      end
      # verify the required parameter 'project_id' is set
      fail ArgumentError, "Missing the required parameter 'project_id' when calling ReleaseApi.update" if project_id.nil?
      # verify the required parameter 'release_id' is set
      fail ArgumentError, "Missing the required parameter 'release_id' when calling ReleaseApi.update" if release_id.nil?
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling ReleaseApi.update" if body.nil?
      # resource path
      local_var_path = "/api/v3/projects/{projectId}/releases/{releaseId}".sub('{format}','json').sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'releaseId' + '}', release_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['Authorization']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ReleaseWithCustomFieldResource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReleaseApi#update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
